<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>To-do list</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        
        <script src="script.js"></script>
        
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body>
        <div id="main" ng-app="mainApp" ng-controller="appCtrl">
            <h1>To Do:</h1>
            
            <div id="tasksToShow">
                <ul class="list-group">
                    <li ng-repeat="oneTask in tasks track by $index" class="list-group-item"><div class="checkbox"><input type="checkbox" ng-model="oneTask.status"><span contenteditable="false" ng-keydown="saveEdit(oneTask.taskMessage)" ng-dblclick="contentEdit(oneTask.taskMessage)"ng-model="oneTask.taskMessage" class="done-{{oneTask.status}}">{{oneTask.taskMessage}}</span></div></li>
                 </ul>
            </div>
            
            <input ng-model="task" type="text" id="addInput" ng-keyup="searchEnter()">
            
            
        </div>
    </body>
</html>