#addInput {
    display: block;
    margin: 0 auto;
    padding: 5px;
    font-size: 15px;
    width: 300px;
}

h1 {
    text-align: center;
}

ul, li {
    margin: 0 auto;
    padding: 0;
}

ul {
    width: 65%;
}

li {
    margin: 0 auto;
    text-align: center;
}

.checkbox {
    -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.done-true {
    color: gray;
    font-style: italic;
    text-decoration: line-through;
}

span[contenteditable="true"] {
    background: gray;
    padding: 3px;
}